In [2]:
import pandas as pd

import numpy as np

In [5]:
df_ais = pd.read_csv('../processed/AIS_hour_R_added.csv')
df_ais = df_ais.drop("Unnamed: 0", axis=1)
df_ais['postime'] = pd.to_datetime(df_ais['postime'],format='ISO8601')

df_collection = df_ais[df_ais['SOG']<11]

years = df_collection['postime'].dt.year
months = df_collection['postime'].dt.month
days = df_collection['postime'].dt.day
nums = df_collection['num']

new = pd.DataFrame(data=(years))
new = new.rename(columns={'postime': 'year'})
new

        year
77      2021
78      2021
79      2021
80      2021
81      2021
...      ...
130362  2024
130363  2024
130364  2024
130365  2024
130371  2024

[12622 rows x 1 columns]

In [29]:
df_processed = pd.DataFrame(data=None,columns=['SOG','heading','draught', 'wind_val', 'wind_direction', 'wave_val', 'wave_direction', 'stream_val',
                                                'stream_direction', 'postime', 'num', 'Pe',	'R_total',	'R_calm',	'R_added'])

for i in range(1):
    df_one_day = df_ais[(df_ais['postime'].dt.year == years[i]) & (df_ais['postime'].dt.month == months[i]) & (df_ais['postime'].dt.day == days[i]) & (df_ais['num'] == nums[i])]
    temp_check = df_one_day['SOG']>=10
    flag = temp_check.all()
    if flag:
        df_processed = pd.concat([df_processed, df_one_day], ignore_index = True)
    else:
        continue

df_processed

/tmp/ipykernel_4194/1618493939.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_processed = pd.concat([df_processed, df_one_day], ignore_index = True)

,SOG,heading,draught,wind_val,wind_direction,wave_val,wave_direction,stream_val,stream_direction,postime,num,Pe,R_total,R_calm,R_added
0,13.920000,32.000000,13.3,9.366000,41.000000,2.966000,37.400000,0.480000,211.200000,2021-01-04 00:00:00,1,9719.325,1272.096154,857.693698,414.402457
1,13.950000,31.500000,13.3,9.710000,40.000000,2.990000,37.000000,0.510000,206.000000,2021-01-04 01:00:00,1,9719.325,1264.955352,867.607558,397.347793
2,13.466667,32.333333,13.3,11.306667,36.000000,2.923333,37.666667,0.646667,191.000000,2021-01-04 02:00:00,1,9719.325,1290.813827,832.668616,458.145212
3,13.300000,37.666667,13.3,11.386667,36.666667,2.996667,37.666667,0.646667,184.333333,2021-01-04 03:00:00,1,9719.325,1316.660193,800.252772,516.407420
4,13.533333,35.000000,13.3,11.323333,36.666667,3.036667,37.333333,0.620000,182.333333,2021-01-04 04:00:00,1,9719.325,1298.771084,822.438475,476.332608
5,13.466667,37.000000,13.3,11.530000,41.000000,3.050000,39.000000,0.580000,179.000000,2021-01-04 05:00:00,1,9719.325,1316.214884,800.792266,515.422618
6,13.875000,37.000000,13.3,11.687500,39.500000,3.140000,38.250000,0.745000,182.750000,2021-01-04 06:00:00,1,9719.325,1253.603496,883.782640,369.820855
7,13.660000,37.800000,13.3,11.860000,39.600000,3.200000,38.600000,0.848000,183.400000,2021-01-04 07:00:00,1,9719.325,1257.937033,877.548434,380.388599
8,11.400000,39.200000,13.3,10.920000,36.000000,3.180000,37.000000,1.330000,196.000000,2021-01-04 08:00:00,1,9719.325,1371.505557,738.063408,633.442150
9,11.400000,39.000000,13.3,11.530000,38.000000,3.240000,38.000000,1.290000,194.000000,2021-01-04 09:00:00,1,9719.325,1381.901680,727.161922,654.739758
10,11.500000,38.833333,13.3,11.858333,35.666667,3.301667,36.166667,1.516667,200.500000,2021-01-04 10:00:00,1,9719.325,1321.407047,794.539983,526.867063
11,12.025000,39.000000,13.3,10.720000,38.000000,3.080000,39.000000,1.580000,205.000000,2021-01-04 11:00:00,1,9719.325,1259.187517,875.763056,383.424462
12,12.816667,37.000000,13.3,10.625000,48.500000,3.115000,35.000000,1.270000,206.500000,2021-01-04 12:00:00,1,9719.325,1239.452593,904.637783,334.814810
13,13.025000,38.250000,13.3,10.915000,53.750000,3.120000,35.250000,1.195000,207.250000,2021-01-04 13:00:00,1,9719.325,1234.497144,912.118040,322.379104
14,13.180000,37.000000,13.3,9.820000,55.000000,3.250000,35.000000,0.930000,211.000000,2021-01-04 14:00:00,1,9719.325,1261.480438,872.505252,388.975186
15,13.600000,29.400000,13.3,9.970000,55.800000,3.282000,35.400000,0.956000,213.800000,2021-01-04 15:00:00,1,9719.325,1222.706953,930.288794,292.418159
16,13.166667,29.000000,13.3,10.123333,56.333333,3.256667,35.333333,0.793333,217.666667,2021-01-04 16:00:00,1,9719.325,1286.099944,838.841579,447.258365
17,13.300000,22.000000,13.3,9.570000,50.000000,3.060000,36.000000,0.910000,216.000000,2021-01-04 17:00:00,1,9719.325,1258.248262,877.103506,381.144757
18,13.300000,30.000000,13.3,10.030000,48.000000,3.155000,36.000000,0.935000,217.500000,2021-01-04 18:00:00,1,9719.325,1251.116534,887.393030,363.723504
19,12.400000,30.000000,13.3,10.280000,47.000000,3.270000,36.000000,0.900000,214.000000,2021-01-04 19:00:00,1,9719.325,1335.738582,777.694050,558.044532
20,12.700000,31.500000,13.3,10.480000,44.500000,3.250000,35.000000,0.955000,212.500000,2021-01-04 20:00:00,1,9719.325,1298.032794,823.377838,474.654956
21,12.500000,45.000000,13.3,10.540000,45.000000,3.180000,35.000000,0.740000,214.000000,2021-01-04 21:00:00,1,9719.325,1358.129704,752.494870,605.634834
22,12.700000,24.000000,13.3,10.810000,44.000000,3.240000,36.000000,0.860000,214.000000,2021-01-04 22:00:00,1,9719.325,1317.014781,799.823630,517.191151

In [20]:
# isin(df_temp['SOG']<11)

bb = df_temp['SOG']>12

if bb.all():
    flag = True
else:
    flag = False

bb

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
Name: SOG, dtype: bool