## 筛选出速度大于11的所有天数

In [5]:
import pandas as pd

import numpy as np

In [6]:
df_ais = pd.read_csv('../processed/AIS_hour_R_added.csv')
df_ais = df_ais.drop("Unnamed: 0", axis=1)
df_ais['postime'] = pd.to_datetime(df_ais['postime'],format='ISO8601')

df_collection = df_ais[df_ais['SOG']<13]

years = df_collection['postime'].dt.year
months = df_collection['postime'].dt.month
days = df_collection['postime'].dt.day
nums = df_collection['num']

new = pd.DataFrame(data=(years))
new = new.rename(columns={'postime': 'year'})

new2 = pd.DataFrame(data=(months))
new2 = new2.rename(columns={'postime': 'month'})

new3 = pd.DataFrame(data=(days))
new3 = new3.rename(columns={'postime': 'day'})

new4 = pd.DataFrame(data=(nums))
# new4 = new4.rename(columns={'postime': 'day'})

df_index = pd.concat([new, new2, new3, new4],  axis=1).reset_index(drop=True)
df_index = df_index.drop_duplicates(keep='first').reset_index(drop=True)


years = df_index['year']
months = df_index['month']
days = df_index['day']
nums = df_index['num']

df_index

      year  month  day  num
0     2021      1    4    1
1     2021      1    6    1
2     2021      1   10    1
3     2021      1   12    1
4     2021      1   28    1
...    ...    ...  ...  ...
3138  2024     11   16   13
3139  2024     11   17   13
3140  2024     11   20   13
3141  2024     11   22   13
3142  2024     11   28   13

[3143 rows x 4 columns]

In [7]:
df_processed = pd.DataFrame(data=None,columns=['SOG','heading','draught', 'wind_val', 'wind_direction', 
                                               'wave_val', 'wave_direction', 'stream_val', 'stream_direction', 'postime', 'num', 'Pe', 'R_total', 'R_calm', 'R_added'])
df_processed = df_ais
for i in range(years.shape[0]):
    df_processed =df_processed.drop(df_processed[(df_processed['postime'].dt.year == years[i]) & (df_processed['postime'].dt.month == months[i]) &
                                                  (df_processed['postime'].dt.day == days[i]) & (df_processed['num'] == nums[i])].index)


df_processed

,SOG,heading,draught,wind_val,wind_direction,wave_val,wave_direction,stream_val,stream_direction,postime,num,Pe,R_total,R_calm,R_added
23,13.150000,27.000000,13.3,11.170000,42.000000,3.070000,37.000000,0.740000,231.000000,2021-01-05 00:00:00,1,9777.85875,1314.160563,812.977558,501.183005
24,13.550000,27.000000,13.3,11.170000,41.500000,3.090000,37.500000,0.720000,232.000000,2021-01-05 01:00:00,1,9777.85875,1282.735513,853.643322,429.092191
25,13.466667,27.000000,13.3,11.020000,38.000000,3.060000,36.000000,0.670000,239.000000,2021-01-05 02:00:00,1,9777.85875,1304.506673,825.081917,479.424756
26,13.566667,28.000000,13.3,11.270000,37.000000,3.160000,37.000000,0.650000,240.000000,2021-01-05 03:00:00,1,9777.85875,1298.533422,832.738705,465.794717
27,13.466667,28.000000,13.3,11.213333,37.666667,3.236667,38.000000,0.580000,245.000000,2021-01-05 04:00:00,1,9777.85875,1323.037564,802.124542,520.913022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130385,17.684615,209.461538,13.7,2.736154,11.307692,0.505385,37.307692,0.090769,101.769231,2024-11-30 19:00:00,13,11987.16750,1313.726778,1253.057211,60.669567
130386,17.720000,203.600000,13.7,6.772000,37.800000,1.376000,94.600000,0.446000,260.000000,2024-11-30 20:00:00,13,11987.16750,1351.678750,1177.116068,174.562682
130387,18.233333,202.777778,13.7,7.278889,47.111111,1.438889,91.777778,0.578889,253.222222,2024-11-30 21:00:00,13,11987.16750,1330.344329,1218.592534,111.751795
130388,17.780000,198.600000,13.7,4.704000,28.800000,0.882000,54.000000,0.342000,147.600000,2024-11-30 22:00:00,13,11987.16750,1342.227075,1195.188125,147.038950
130389,17.220000,202.000000,13.7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2024-11-30 23:00:00,13,11987.16750,1353.263807,1174.124228,179.139579

In [8]:
df_processed = df_processed.reset_index(drop=True)
df_processed.to_csv('../processed/AIS_dataset_13.csv')